body {
  background-color: #ffffff;
  background-repeat: repeat;
  color: #333;
  font-family: 'Oswald', sans-serif;
  letter-spacing: .2rem;
  margin: 0;
  overflow: hidden;
  perspective: 1000px;
  text-transform: uppercase;
}
.site-wrap {
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.site-wrap.show-all {
  transform: rotateY(-15deg) scale(0.2);
}
.panel-wrap {
  height: 100vh;
  width: 100vw;
}
h1 {
  font-size: 20vmin;
  margin: 0;
}
.panel-wrap {
  perspective: 2000px;
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.panel-wrap.animate--shrink,
.panel-wrap.animate--tilt,
.panel-wrap.animate--tilt2 {
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0.3s;
}
.panel {
  height: 100vh;
  position: absolute;
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  width: 100vw;
  will-change: transform;
}
.panel:before {
  background-color: transparent;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: 2;
}
.show-all .panel:before {
  pointer-events: all;
}
.show-all .panel:hover:before {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.animate--shrink.animate .panel {
  transform: scale(0.9);
}
.animate--tilt.animate .panel {
  transform: scale(0.6) rotateY(-25deg);
}
.animate--tilt2.animate .panel {
  transform: scale(0.8) rotateX(25deg);
}
.panel h1 {
  cursor: default;
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
}
.panel[data-x-pos="-2"] {
  left: -200%;
}
.panel[data-x-pos="-1"] {
  left: -100%;
}
.panel[data-x-pos="1"] {
  left: 100%;
}
.panel[data-x-pos="2"] {
  left: 200%;
}
.panel[data-y-pos="-2"] {
  top: 200%;
}
.panel[data-y-pos="-1"] {
  top: 100%;
}
.panel[data-y-pos="1"] {
  top: -100%;
}
.panel[data-y-pos="2"] {
  top: -200%;
}
.panel__zoom {
  cursor: pointer;
  left: 50%;
  opacity: .2;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) translateY(-12vmin);
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
  z-index: 10;
}
.panel__zoom:hover {
  opacity: 1;
}
.show-all .panel__zoom {
  pointer-events: none;
}
.panel__nav {
  cursor: pointer;
  opacity: .2;
  position: absolute;
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
  will-change: opacity;
}
.panel__nav--up {
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
}
.panel__nav--left {
  left: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg) translateX(-100%);
  transform-origin: top left;
}
.panel__nav--left-top {
  left: 1rem;
  top: 1rem;
}
.panel__nav--left-down {
  bottom: 1rem;
  left: 1rem;
}
.panel__nav--right {
  right: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(90deg) translateX(100%);
  transform-origin: top right;
}
.panel__nav--right-top {
  right: 1rem;
  top: 1rem;
}
.panel__nav--right-down {
  bottom: 1rem;
  right: 1rem;
}
.panel__nav--down {
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.panel__nav:hover {
  opacity: 1;
}

img {
  z-index: 1000;
}

.inferno {
  width: 25%;
  display: block;
  margin: auto;
  padding: 7% 0;
}

.young {
  width: 40%;
  display: block;
  margin: auto;
  padding: 10% 0;
}

.tape {
  width: 70%;
  display: block;
  margin: auto;
  padding: 0 0;
}



h2 {
  color: #333;

}

.first {
  margin-left: 5%;
  margin-top: -45%;
  width: 20%;
}

.second {
  margin-left: 5%;
  margin-top: -15%;
  width: 25%;
  display: block;
}

.third {
  margin-left: 70%;
  width: 25%;
  margin-top: -43.85%;
}

.fourth {
  width: 40%;
  font-size: 3em;
  margin: auto;
  padding: 15% 0;
  text-align: justify;
  text-align-last: justify;

}


.fifth {
  text-align: justify;
  position: absolute;
  margin-top: -40%;
  margin-left: 35%;
  width: 25%;
}

.binary {
  font-size: 3em;
  width: 37%;
  margin: auto;
  padding: 17% 0;
}


p {
  text-transfrom:uppercase;
  color:white;
  font-size:6em;
  animation: neonGlow 2s infinite alternate;
  font-size: 20vmin;
  margin: 0;
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
}

@keyframes neonGlow {
  0% {
    text-shadow: 0 0 2px rgba(214,73,51,.8),
                 0 0 8px rgba(214,73,51,.8),
                 0 0 10px rgba(214,73,51,.8);
  }
  100% {
    text-shadow: 0 0 2px rgba(214,73,51,.8),
                 0 0 8px rgba(214,73,51,.8),
                 0 0 10px rgba(214,73,51,.8);

  }
}

.sixth {
  margin-left: 5%;
  margin-top: -10%;
  width: 15%;

}

.night {
  font-size: 3em;
  text-align: justify;
  width: 49.55%;
  margin: auto;
  margin-top: 12.5%;
  text-align-last:justify;
  animation: opacity 0.2s infinite;
}

@keyframes opacity {
from {
  opacity: 1;
}
to {
  opacity: 0;}
}
